In [1]:
#libraries
import os
import pandas as pd
from datetime import datetime as dt
from datetime import time as t
import numpy as np
from IPython.display import display

In [2]:
# source
identification = r'dinhhoang.nguyen.CONCENTRIX'
## Hoang
eps_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\EPS Tableau\EPS Query"
cpi_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Ticket\CPI Query"
aht_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\AHT\AHT query"
csat_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\CSAT RAW\CSAT Query"
cuic_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\CUIC\CUIC Query"
exception_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Exception"
extension_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Extension"
iex_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\IEX"
label_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Labels"
## Tram
ioshrinkage_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\IO Shrinkage"
ot_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\OT\OT Query"
psat_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\PSAT RAW\PSAT Query"
quality_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Quality.v2\Quality query"
ramco_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Ramco\Ramco Query"
ramcoot_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Ramco OT\Ramco OT Query"
requirement_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Requirement"
## Thanh
schedule_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Schedule 2\Schedule Query"
tl_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\TL"
training_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Training"
masterroster_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\User"
workplan_path = r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\Workplan"

In [3]:
#FUNCTION TO IMPORT FOLDERS
def import_csv(path):
    raw = []
    for file in os.listdir(path):
        if file.endswith(".csv"):
            file_path = os.path.join(path, file)
            file_data = pd.read_csv(file_path)
            file_data["filename"] = file
            raw.append(file_data)
            final_raw = pd.concat(raw, ignore_index=True)
    return final_raw
    
def import_xlsx(path, sheet_name):
    raw = []
    for file in os.listdir(path):
        if file.endswith(".xlsx"):
            file_path = os.path.join(path, file)
            file_data = pd.read_excel(file_path, engine="openpyxl", sheet_name = sheet_name)
            file_data["filename"] = file
            raw.append(file_data)
            final_raw = pd.concat(raw, ignore_index=True)
    return final_raw

In [4]:
# IMPORT MASTER ROSTER
masterroster = pd.read_excel(r"C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\Data\User\CNX Global Master Roster.xlsx", sheet_name="Sheet1")
masterroster['Employee_ID'] = masterroster['Employee_ID'].astype("Int64")

In [5]:
# IMPORT EPS
eps = import_csv(path = eps_path)
eps = eps.drop(columns=['Index', 'filename', 'Date'])
eps['Session login VN'] = pd.to_datetime(eps['Session Login'], format ='mixed') + pd.Timedelta(hours=5)
eps['Session logout VN'] = pd.to_datetime(eps['Session Logout'], format ='mixed') + pd.Timedelta(hours=5)
eps['Session login date'] = pd.to_datetime(eps['Session login VN']).dt.date
eps['Session login time'] = pd.to_datetime(eps['Session login VN']).dt.time
eps['Session logout date'] = pd.to_datetime(eps['Session logout VN']).dt.date
eps['Session logout time'] = pd.to_datetime(eps['Session logout VN']).dt.time
eps = eps.drop(columns=['Session login VN', 'Session logout VN', 'Username', 'manager_username', 'sitecode', 'Session Time'])
eps.info()
eps.to_csv(r"C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\DB\filecsv\eps_test.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179514 entries, 0 to 179513
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   EID                  179514 non-null  int64
 1   Session Login        179514 non-null  object
 2   Session Logout       179514 non-null  object
 3   BPE Code             179514 non-null  object
 4   Total Time           179514 non-null  int64
 5   Session login date   179514 non-null  object
 6   Session login time   179514 non-null  object
 7   Session logout date  179514 non-null  object
 8   Session logout time  179514 non-null  object
dtypes: int64(2), object(7)
memory usage: 12.3+ MB

In [6]:
#IMPORT CPI
cpi = import_csv(path = cpi_path)
cpi = cpi.drop(columns=['Region Partner', 'Sitecode', 'Mp Csm Name', 'Mp Team Name'])
cpi['Date'] = cpi['filename'].replace(".csv", "", regex=True)
cpi['Date'] = pd.to_datetime(cpi['Date'], format = "mixed")


masterroster_cpi = masterroster[['Employee_ID', 'TED Name']]
cpi = pd.merge(cpi, masterroster_cpi, left_on="Staff Name", right_on="TED Name", how="left")
cpi = cpi.drop(columns=['filename', 'TED Name'])

cpi.info()
print(cpi)
cpi.to_csv(r"C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\DB\filecsv\cpi_test.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73913 entries, 0 to 73912
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Staff Name                73913 non-null  object
 1   Channel                   57015 non-null  object
 2   Number of Records         71222 non-null  float64
 3   Nombre d'enregistrements  2691 non-null   float64
 4   Date                      73913 non-null  datetime64[ns]
 5   Employee_ID               73306 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(2), object(2)
memory usage: 3.5+ MB
          Staff Name    Channel  Number of Records  Nombre d'enregistrements  \
0       Mikael Duong      phone                4.0                       NaN
1           Kelly Le      phone                1.0                       NaN
2      Jennie Nguyen      phone                9.0                       NaN
3       Mikael Duong  messaging                7.0                       NaN
4           Kelly Le  messaging                6.0                       NaN
...              ...        ...                ...                       ...
73908     Nas Nguyen        NaN               14.0                       NaN
73909         John N        NaN                9.0                       NaN
73910  Viktor Nguyen  messaging               10.0                       NaN
73911  Viktor Nguyen      email                5.0                       NaN
73912  Viktor Nguyen        NaN               15.0                       NaN

            Date  Employee_ID
0     1990-01-01    102208111
1     1990-01-01    102207120
2     1990-01-01    102207121
3     1990-01-01    102208111
4     1990-01-01    102207120
...          ...          ...
73908 2023-10-07    102155919
73909 2023-10-07    102155897
73910 2023-10-07    102173701
73911 2023-10-07    102173701
73912 2023-10-07    102173701

[73913 rows x 6 columns]

In [7]:
#IMPORT AHT
aht = import_csv(path = aht_path)
aht = aht.drop(columns=['filename'])
masterroster_aht = masterroster[['Employee_ID', 'TED Name']]
aht = pd.merge(aht, masterroster_aht, left_on='Staff', right_on ='TED Name', how='left')
aht = aht.drop(columns=['TED Name'])
aht['Date'] = pd.to_datetime(aht['Date'], format='mixed')

aht.info()

print(aht)

C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_13476\2378756514.py:7: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  file_data = pd.read_csv(file_path)
C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_13476\2378756514.py:7: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  file_data = pd.read_csv(file_path)
C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_13476\2378756514.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  file_data = pd.read_csv(file_path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575670 entries, 0 to 575669
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  398860 non-null  datetime64[ns]
 1   Start Time            398860 non-null  object
 2   End Time              398860 non-null  object
 3   Staff                 398860 non-null  object
 4   Language              294665 non-null  object
 5   Item Channel          398860 non-null  object
 6   Topic                 398860 non-null  object
 7   Subtopic              398860 non-null  object
 8   "Handling Time"       398860 non-null  object
 9   First Email Id        0 non-null       float64
 10  First Hotel Id        337783 non-null  object
 11  First Reservation Id  324807 non-null  object
 12  Tooltip Phone Time    91168 non-null   object
 13  Handling Time         398860 non-null  float64
 14  Employee_ID           396944 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(2), object(11)
memory usage: 66.4+ MB
             Date     Start Time       End Time         Staff Language  \
0      2023-08-01  1/8/2023 0:11  1/8/2023 0:12        Min Le      NaN
1      2023-08-01  1/8/2023 0:25  1/8/2023 0:37       Jane Ng  English
2      2023-08-01  1/8/2023 0:31  1/8/2023 0:41       Jane Ng  English
3      2023-08-01  1/8/2023 0:41  1/8/2023 0:56       Jane Ng  English
4      2023-08-01  1/8/2023 1:02  1/8/2023 1:35  Shannah Pham      NaN
...           ...            ...            ...           ...      ...
575665        NaT            NaN            NaN           NaN      NaN
575666        NaT            NaN            NaN           NaN      NaN
575667        NaT            NaN            NaN           NaN      NaN
575668        NaT            NaN            NaN           NaN      NaN
575669        NaT            NaN            NaN           NaN      NaN

       Item Channel         Topic  \
0           Unknown    Relocation
1             Email    Relocation
2             Email    Relocation
3             Email  Modification
4           Unknown       Unknown
...             ...           ...
575665          NaN           NaN
575666          NaN           NaN
575667          NaN           NaN
575668          NaN           NaN
575669          NaN           NaN

                                                 Subtopic "Handling Time"  \
0                  accommodation_cannot_accommodate_guest   Handling Time
1                  accommodation_cannot_accommodate_guest   Handling Time
2                  accommodation_cannot_accommodate_guest   Handling Time
3       CS_report_or_request_help_with_incorrectly_loa...   Handling Time
4                                  Customer_level_actions   Handling Time
...                                                   ...             ...
575665                                                NaN             NaN
575666                                                NaN             NaN
575667                                                NaN             NaN
575668                                                NaN             NaN
575669                                                NaN             NaN

        First Email Id First Hotel Id First Reservation Id Tooltip Phone Time  \
0                  NaN        7916582           3709125556                NaN
1                  NaN       10538247           2933359225                NaN
2                  NaN       10010179           2802616410                NaN
3                  NaN        9651702           3889216084                NaN
4                  NaN            NaN                  NaN                NaN
...                ...            ...                  ...                ...
575665             NaN            NaN                  NaN                NaN
575666             NaN            NaN                  NaN                NaN
575667             NaN            NaN                  NaN                NaN
575668             NaN            NaN                  NaN                NaN
575669             NaN            NaN                  NaN                NaN

        Handling Time  Employee_ID
0          299.000000    102219144
1          332.909091    102203539
2          271.909091    102203539
3          740.909091    102203539
4          257.428571    102203562
...               ...          ...
575665            NaN         <NA>
575666            NaN         <NA>
575667            NaN         <NA>
575668            NaN         <NA>
575669            NaN         <NA>

[575670 rows x 15 columns]

In [8]:
#IMPORT CSAT
csat = import_csv(path = csat_path)
masterroster_csat = masterroster[['Employee_ID', 'TED Name']]


csat['Date '] = pd.to_datetime(csat['Date '], format='%m/%d/%Y')
csat = pd.merge(csat, masterroster_csat, left_on='Staff', right_on ='TED Name', how='left')

csat = csat.drop(columns=['Sort by Dimension', 'Has Comment', '"Comment"', 'Reservation Link', 'View comment', 'Sort by Dimension (copy)', 'filename', 'TED Name', 'Max. Sort by Dimension'])
print(csat)

        Survey Id  Reservation          Team    Channel         Staff  \
0      3018426701   3056847985  Duy Hoang Ho      email    Mia Nguyen
1      3018613711   2665820829    Nina Huynh      email    Henry Phan
2      3018623696   3548174839    Nina Huynh  messaging    Henry Phan
3      3018646254   2314992465  Duy Hoang Ho  messaging    Ann Nguyen
4      3018660236   3138227680    Nina Huynh      email    Naomi Tran
...           ...          ...           ...        ...           ...
24900  3443958520   4134327179     Rosa Dang      phone    Jesse Doan
24901  3443992705   4179345842  Duy Hoang Ho      phone    Ceasar Ton
24902  3445373197   4197622059  Duy Hoang Ho      email      Le Chris
24903  3446652398   4024792325     Anna Corn      phone  Jordi Nguyen
24904  3446748298   4178054364    Nina Huynh      phone  Bobby Nguyen

             Type      Date                        Topic of the first Ticket  \
0      touchpoint 2023-06-01             CS_request_cancellation_by_property
1      touchpoint 2023-06-01                         CS_discuss_no_show_fees
2      touchpoint 2023-06-01                        CS_verify_payment_status
3      touchpoint 2023-06-01  CS_request_information_other_free_typing_field
4      touchpoint 2023-06-01                                    CS_claim_bpg
...           ...        ...                                             ...
24900  touchpoint 2023-10-01          accommodation_cannot_accommodate_guest
24901  touchpoint 2023-10-01                                 CS_change_dates
24902  touchpoint 2023-10-01                                    CS_claim_bpg
24903  touchpoint 2023-10-01          accommodation_cannot_accommodate_guest
24904  touchpoint 2023-10-01                         CS_request_cancellation

                      Language     Csat 2.0 Score  Employee_ID
0           English (American)     Very Satisfied    102025366
1                      English  Very Dissatisfied    102198175
2                       Korean     Very Satisfied    102198175
3                       Korean     Very Satisfied    102026221
4           English (American)  Very Dissatisfied    101993687
...                        ...                ...          ...
24900  English (Great Britain)     Very Satisfied    102278475
24901  English (Great Britain)     Very Satisfied    102203551
24902  English (Great Britain)          Satisfied    102159132
24903                 Ukranian     Very Satisfied    102254108
24904                  Spanish  Very Dissatisfied    102242692

[24905 rows x 11 columns]

In [11]:
# IMPORT SCHEDULE
schedule = import_xlsx(path = schedule_path,sheet_name='Sheet1')
schedule['Attribute'] = pd.to_datetime(schedule['Attribute'],format='mixed').dt.date
schedule=schedule.iloc[:,0:8]
condition=(schedule['Value']=='OFF')|(schedule['Value']=='AL')|(schedule['Value']=='CO')|(schedule['Value']=='UPL')|(schedule['Value']=='Training')
schedule['Shift'] = np.where(condition, 'OFF', schedule['NS Check'])
schedule=schedule[['Emp ID','Name','Attribute','Value','LOB','Shift']]
schedule=schedule.rename(columns={'Attribute':'Date','Value':'Shift','Shift':'Shift_type'})

In [12]:
#IMPORT CUIC
cuic = import_xlsx(path = cuic_path,sheet_name="Khoa Interval Attendance Check-")
cuic['Date'] = pd.to_datetime(cuic['Interval'], format = "mixed").dt.date
cuic['Time'] = pd.to_datetime(cuic['Interval'], format = "mixed").dt.time
cuic = pd.merge(cuic, masterroster, left_on='LoginName', right_on ='Booking Login ID', how='left')
cuic=cuic.iloc[:,0:9]
cuic = pd.merge(cuic, schedule, left_on=['Employee_ID','Date'], right_on =['Emp ID','Date'], how='left')
cuic=cuic[['FullName','LoginName','Interval','AgentAvailTime','AgentLoggedOnTime','Date','Time','Employee_ID','Shift_type','Shift']]
cuic['Date-1']=pd.to_datetime(cuic['Date'], format ='mixed') - pd.Timedelta(1,"d")
cuic['Date-1']=pd.to_datetime(cuic['Date-1'], format ='mixed').dt.date
cuic = pd.merge(cuic, schedule, left_on=['Employee_ID','Date-1'], right_on =['Emp ID','Date'], how='left')
cuic=cuic[['FullName','LoginName','Interval','AgentAvailTime','AgentLoggedOnTime','Date_x','Time','Employee_ID','Shift_type_x','Shift_x','Date-1','Shift_type_y','Shift_y']]
mytime=t(12,0,0)
condition=(cuic['Shift_type_x']!='DS')&(cuic['Shift_type_y']=='NS')&(cuic['Time']<mytime)
cuic['Session Date'] = np.where(condition, cuic['Date-1'], cuic['Date_x'])
cuic=cuic[['FullName','LoginName','Interval','AgentAvailTime','AgentLoggedOnTime','Date_x','Employee_ID','Shift_type_x','Session Date']]
cuic=cuic.rename(columns={'Date_x':'Date','Shift_type_x':'Shift_type'})

In [13]:
#EXCEPTION
exceptional_hrs = import_xlsx(path= exception_path, sheet_name="Sheet1")
exceptional_hrs = exceptional_hrs.rename(columns={'Date \n(MM/DD/YYYY)':'Date'})
exceptional_hrs = exceptional_hrs.drop(columns=['filename'])

exceptional_hrs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Emp ID                       226 non-null    int64
 1   Date                         226 non-null    datetime64[ns]
 2   Exception request
(Minute)  224 non-null    float64
 3   Reason                       225 non-null    object
 4   TL                           224 non-null    object
 5   OM                           64 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 10.7+ KB

In [14]:
#IMPORT EXTENSION
extension = import_xlsx(path= extension_path, sheet_name="Sheet1")
extension = extension[['Emp ID', 'Extension Number']]
extension['Extension Number'] = extension['Extension Number'].astype("Int64")
print(extension)

        Emp ID  Extension Number
0    101754274          72786027
1    101758902          72786060
2    101758951          72786058
3    101758868          72786059
4    101631001          72786086
..         ...               ...
524  102278515          72786990
525  102278516          72786860
526  102279846          72786973
527  102279847          72786988
528  102279848          72786563

[529 rows x 2 columns]

In [15]:
#IMPORT IEX ID
iex = import_xlsx(path = iex_path, sheet_name="Sheet1")
iex = iex[['ID Agent', 'Personal ID']]
iex = iex.rename(columns={'Personal ID': 'EID'})
print(iex)

     ID Agent        EID
0     3006158  101988331
1     3009891  101754192
2     3011158  101631001
3     3014249  101769330
4     3014252  101769328
..        ...        ...
587   3069722  102278512
588   3069723  102278397
589   3069755  102279847
590   3069759  102279846
591   3069760  102279848

[592 rows x 2 columns]

In [16]:
# IMPORT TL
tl = pd.read_excel(os.path.join(tl_path, "TL List.xlsx"),sheet_name='Sheet1')
tl=tl.iloc[:,0:6]
tl=tl.rename(columns={'Supervisor (no need fill)': 'Supervisor'})
tl=tl.drop(columns=['Wave', 'Name', 'LOB', 'Full name (VN)'])
print(tl)

        Emp ID Supervisor
0    101754274       Nina
1    101758868       Nina
2    101993685   John Luu
3    101993760   John Luu
4    102177117         An
..         ...        ...
594  102265696        Gio
595  102265697       Rosa
596  102267302        Gio
597  102267344       Rosa
598  102267481        Gio

[599 rows x 2 columns]

In [17]:
# IMPORT TRAINING
training = import_xlsx(path = training_path,sheet_name='Sheet1')
training['Date'] = pd.to_datetime(training['Date'],format='mixed').dt.date
training['EID'] = training['EID'].astype("int64")
training=training.iloc[:,1:]

print(training)

           Date        EID    LOB  Duration
0    2023-05-16  102198234  VICSG       7.5
1    2023-05-16  101993685  VICSG       7.5
2    2023-05-16  101993770  VICSG       7.5
3    2023-05-16  102168268     NL       7.5
4    2023-05-16  102168217    ID4       7.5
..          ...        ...    ...       ...
177  2023-07-28  102273515     EN       3.0
178  2023-07-28  102273437     EN       3.0
179  2023-07-28  102273538     EN       3.0
180  2023-07-28  102277706     EN       3.0
181  2023-07-28  102274819     EN       3.0

[182 rows x 4 columns]

In [18]:
# IMPORT IOSHRINKAGE
ioshrinkage = import_xlsx(path = ioshrinkage_path, sheet_name='Sheet1')

In [19]:
# IMPORT OT

ot = import_xlsx(path = ot_path, sheet_name='Sheet2')
ot = ot.drop(columns=['Wave', 'Name', 'Value', 'LOB', 'filename'])
ot['Date'] = pd.to_datetime(ot['Date'], format="mixed")
ot['Date'] = ot['Date'].dt.date


display(ot)

          Emp ID        Date    OT
0      101631001  2023-06-26  12.0
1      101946738  2023-06-19   0.0
2      101946738  2023-06-20   0.0
3      101946738  2023-06-21   0.0
4      101946738  2023-06-22   0.0
...          ...         ...   ...
39642  102265696  2023-09-20   0.0
39643  102265696  2023-09-21   0.0
39644  102265696  2023-09-22   0.0
39645  102265696  2023-09-23   0.0
39646  102265696  2023-09-24   0.0

[39647 rows x 3 columns]

In [20]:
# IMPORT PSAT
psat = import_csv(path = psat_path)
psat['Date'] = pd.to_datetime(psat['Date'],format='mixed').dt.date

In [21]:
# IMPORT QUALITY
quality_raw = import_xlsx(path = quality_path,sheet_name='Sheet1')
quality_raw['eval_date'] = pd.to_datetime(quality_raw['eval_date'],format='mixed').dt.date
quality=quality_raw.iloc[:,0:20]

In [22]:
# IMPORT RAMCO
ramco = import_csv(path = ramco_path)
ramco['Attribute'] = pd.to_datetime(ramco['Attribute'],format='mixed').dt.date
ramco=ramco.rename(columns={'Attribute':'Date'})
ramco['EID']=ramco['EID'].astype('Int64')

In [23]:
# IMPORT RAMCOOT
ramcoot = import_xlsx(path = ramcoot_path,sheet_name='Sheet1')
ramcoot['Attribute'] = pd.to_datetime(ramcoot['Attribute'],format='mixed').dt.date
ramcoot=ramcoot.rename(columns={'Attribute':'Date'})

In [24]:
# IMPORT REQUIREMENT
requirement = import_xlsx(path = requirement_path,sheet_name='Sheet1')
requirement['Date'] = pd.to_datetime(requirement['Date'],format='mixed').dt.date

In [25]:
# IMPORT WORKPLAN
workplan_raw = import_xlsx(path = workplan_path,sheet_name='Sheet1')
workplan_raw['Date'] = pd.to_datetime(workplan_raw['Date'],format='mixed').dt.date
workplan_merge_iex = pd.merge(workplan_raw,iex, left_on='Agent ID', right_on ='ID Agent', how='left')
workplan_merge_iex['EID'] = workplan_merge_iex['EID'].astype("Int64")
workplan_merge_iex=workplan_merge_iex.drop(columns=['filename', 'ID Agent'])

In [26]:
#IMPORT LABELS
labels = import_csv(label_path)

In [27]:
# BOOKING ATTENDANCE
bkn_att = schedule.drop(columns=['Shift_type'])
bkn_att_ramco = ramco[['EID', 'Date', 'Value']]
bkn_att = pd.merge(bkn_att, tl, on='Emp ID', how='left')
bkn_att = pd.merge(bkn_att, bkn_att_ramco, left_on =['Emp ID', 'Date'], right_on=['EID', 'Date'], how='left')
bkn_att = bkn_att.drop(columns=['EID'])
bkn_att = bkn_att.rename(columns={'Value': 'Ramco'})
#get cuic
bkn_att_cuic = cuic[['Employee_ID', 'Session Date','AgentLoggedOnTime']].groupby(['Employee_ID', 'Session Date'], as_index=False).sum()
bkn_att = pd.merge(bkn_att, bkn_att_cuic, left_on=['Emp ID', 'Date'], right_on=['Employee_ID', 'Session Date'], how='left')
bkn_att = bkn_att.rename(columns={'AgentLoggedOnTime': 'CUIC Actual hrs'})
bkn_att['CUIC Actual hrs'] = bkn_att['CUIC Actual hrs']*24
#remove Employee_ID no CUIC data
bkn_att = bkn_att.drop(columns=['Employee_ID', 'Session Date'])
bkn_att = pd.merge(bkn_att, labels, left_on="Shift", right_on="Attendance Code", how="left")

#sum OT by agent&ID
bkn_att = pd.merge(bkn_att, ot, on=['Emp ID', 'Date'], how="left")
bkn_att['OT'] = bkn_att['OT'].fillna(0)
bkn_att['CUIC Actual hrs'] = bkn_att['CUIC Actual hrs'].fillna(0)
bkn_att['Scheduled hrs'] = bkn_att['OT'] + bkn_att['Schedule']
bkn_att = bkn_att.rename(columns={'Planned leaves': 'Planned Leave', 'Actual leaves': 'Actual Leave'})
bkn_att['Total scheduled'] = bkn_att['Scheduled hrs'] + bkn_att['Planned Leave']

#Add Attendance

def attendance_func(x):
    if x['Shift'] == 'OFF':
        if x['Ramco'] =='PO':
            result1 = x['CUIC Actual hrs']
        else:
            result1 = 0
    else:
        result1 = x['CUIC Actual hrs']

    if result1 > x['Scheduled hrs']:
        return x['Scheduled hrs']
    else:
        return result1

bkn_att['Attendance'] = bkn_att.apply(attendance_func, axis=1)

#Drop columns
bkn_att = bkn_att.drop(columns=['Description', 'Type', 'filename'])
bkn_att['Date'] = pd.to_datetime(bkn_att['Date'], format ='mixed').dt.strftime('%Y-%m-%d')
test_cuic = bkn_att.loc[(bkn_att['Shift'] =='OFF') & (bkn_att['Ramco'] =='PO')]
display(test_cuic)
bkn_att.to_csv(r'C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\Calculators\Joey Nguyen\py\booking_attendance.csv', index=False)
bkn_att.to_json(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\booking_attendance.json', orient='records')

,Emp ID,Name,Date,Shift,LOB,Supervisor,Ramco,CUIC Actual hrs,Attendance Code,Schedule,Actual,Planned Leave,Actual Leave,OT,Scheduled hrs,Total scheduled,Attendance
773,102265180,Nguyen Ho Khanh Vi,2023-08-03,OFF,NL,Gio,PO,8.871389,OFF,0.0,0.0,0.0,0.0,8.0,8.0,8.0,8.000000
1587,102026217,Hoang Tran Minh Thu,2023-08-05,OFF,NL,Annie,PO,8.018611,OFF,0.0,0.0,0.0,0.0,8.0,8.0,8.0,8.000000
1594,102198227,Ngo Thanh Hoa,2023-08-05,OFF,NL,Billy,PO,9.027500,OFF,0.0,0.0,0.0,0.0,9.0,9.0,9.0,9.000000
1601,102198239,Nguyen Trung Tinh,2023-08-05,OFF,NL,Billy,PO,9.045278,OFF,0.0,0.0,0.0,0.0,9.0,9.0,9.0,9.000000
1608,102155918,Le Hoang Duy,2023-08-05,OFF,NL,Billy,PO,9.020833,OFF,0.0,0.0,0.0,0.0,9.0,9.0,9.0,9.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25882,102219148,Tran Hoai Huy,2023-09-21,OFF,VICSP,Yin,PO,8.058889,OFF,0.0,0.0,0.0,0.0,8.0,8.0,8.0,8.000000
26010,102231426,Vu Minh Trung,2023-09-20,OFF,VICSP,Yin,PO,7.998333,OFF,0.0,0.0,0.0,0.0,8.0,8.0,8.0,7.998333
26056,102234885,Dang Tien,2023-09-19,OFF,VICSP,Yin,PO,5.041389,OFF,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.000000
26094,102234930,Le Minh Trung,2023-09-19,OFF,VICSP,Yin,PO,8.574167,OFF,0.0,0.0,0.0,0.0,8.0,8.0,8.0,8.000000
27534,102186582,Nguyen Khanh Dinh Van,2023-09-20,OFF,VICSP,Yin,PO,4.330278,OFF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [28]:
# # 1. AHT
# ahtrp = aht.drop(columns=['Start Time', 'End Time', '"Handling Time"', 'First Email Id'])

# ## add Eliminate Phone
# def eliminate_phone(x):
#     if x['Item Channel'] =='Phone' and x['Topic'] =='Unknown':
#         return "Notphone"
#     else:
#         return x['Item Channel']
# ahtrp['Eliminate Phone'] = ahtrp.apply(eliminate_phone, axis=1)

# aht_mr = masterroster[['Employee_ID', 'PST_Start_Date', 'CUIC Name', 'Full name', 'Role', 'TED Name', 'Wave #']]

# ahtrp = pd.merge(ahtrp, aht_mr, left_on='Staff', right_on='TED Name', how='left')

# def TN(x):
#     if x['Date'] - x['PST_Start_Date'] >= pd.Timedelta(days=90):
#         return "TN"
#     else:
#         return "NH"
    
# ahtrp['Tenure'] = ahtrp.apply(TN, axis=1)
# ahtrp = pd.merge(ahtrp, tl, left_on ='Employee_ID_x', right_on = 'Emp ID', how='left')
# aht_lob = schedule[['Emp ID', 'Date', 'LOB']]
# aht_lob['Date'] = pd.to_datetime(aht_lob['Date'], format ='mixed')
# ahtrp = pd.merge(ahtrp, aht_lob, left_on = ['Employee_ID_x', 'Date'], right_on=['Emp ID', 'Date'], how='left')
# ahtrp = ahtrp.drop(columns=['Employee_ID_y', 'Emp ID_x', 'Emp ID_y'])
# ahtrp = ahtrp.rename(columns={'Employee_ID_x':'Employee_ID'})
# #Add talk time
# def talk_time(x):
#     try:
#         from_left = 11
#         to_right = str(x['Tooltip Phone Time']).find(' Wrap Time')
#         return int(x['Tooltip Phone Time'][from_left:to_right])
#     except:
#         return 0
# def wrap_time(x):
#     try:
#         from_left = int(str(x['Tooltip Phone Time']).find('Wrap Time'))+11
#         to_right = str(x['Tooltip Phone Time']).find(' Hold Time')
#         return int(x['Tooltip Phone Time'][from_left:to_right])
#     except:
#         return 0
# def hold_time(x):
#     try:
#         from_left = int(str(x['Tooltip Phone Time']).find('Hold Time'))+10
#         return int(x['Tooltip Phone Time'][from_left:])
#     except:
#         return 0    
# ahtrp['Talk Time'] = ahtrp.apply(talk_time, axis=1)
# ahtrp['Wrap Time'] = ahtrp.apply(wrap_time, axis=1)
# ahtrp['Hold Time'] = ahtrp.apply(hold_time, axis=1)

# def act_handling_time(x):
#     if x['Eliminate Phone'] =='Phone':
#         return x['Talk Time'] + x['Wrap Time'] + x['Hold Time']
#     else:
#         return x['Handling Time']

# #add Act handling time
# ahtrp['Act Handling Time'] = ahtrp.apply(act_handling_time, axis=1)
# #Date to_datetime
# ahtrp['Date'] = pd.to_datetime(ahtrp['Date'], format='mixed').dt.strftime('%Y-%m-%d')
# ahtrp['PST_Start_Date'] = pd.to_datetime(ahtrp['PST_Start_Date'], format='mixed').dt.strftime('%Y-%m-%d')


# #export to json
# ahtrp.to_csv(r'C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\Calculators\Joey Nguyen\py\aht.csv', index=False)
# ahtrp.to_json(r'C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\aht.json', orient='records')


# # 3. FACT_Ticket

# # 4. FACT_Schedule

# # 5. DIM_Calendar

# # 6. DIM_User

# # 7. DIM_LOB

# # 8. DIM_Tenure

# # 9. TL

# # 10. OM

# # 11. CUIC Query

In [29]:
# # 2. FACT_EPS Tableau

# aht_eps = eps.drop(columns=['Session Login', 'Session Logout'])
# ## subset schedule
# aht_schedule = schedule[['Emp ID', 'Date', 'Shift', 'LOB', 'Shift_type']]
# ## add schedule
# aht_eps = pd.merge(aht_eps, aht_schedule, left_on = ['EID', 'Session login date'], right_on=['Emp ID', 'Date'], how='left')
# ## change schedule Shift_type to Shift_type_date
# aht_eps = aht_eps.rename(columns={'Shift_type': 'Shift_type_date'})
# ## add column: current date - 1
# aht_eps['Date-1'] = pd.to_datetime(aht_eps['Session login date'], format='mixed') - pd.Timedelta(1, 'd')
# ## add shift type in date - 1
# ## minimize schedule
# aht_schedule = aht_schedule[['Emp ID', 'Date', 'Shift_type']]
# ## convert date on schedule to datetime
# aht_schedule['Date'] = pd.to_datetime(aht_schedule['Date'], format='mixed')
# aht_eps = pd.merge(aht_eps, aht_schedule, left_on = ['EID', 'Date-1'], right_on=['Emp ID', 'Date'], how='left')
# ## drop redundant cols
# aht_eps = aht_eps.drop(columns=['Emp ID_x', 'Emp ID_y', 'Date_x', 'Date_y'])
# aht_eps = aht_eps.rename(columns={'Shift_type': 'Shift_type_date-1'})
# ## define current shift_type
# conditions = (aht_eps['Shift_type_date']!= 'DS')&(aht_eps['Shift_type_date-1']=='NS')&(aht_eps['Session login time']<t(12,0,0))
# aht_eps['Session login date'] = pd.to_datetime(aht_eps['Session login date'], format='mixed')
# aht_eps['Session Date'] = np.where(conditions, aht_eps['Date-1'], aht_eps['Session login date'])

# ## drop dedundant cols
# aht_eps = aht_eps.drop(columns=['Date-1', 'Shift_type_date-1'])
# aht_eps.info()

# ## get master roster
# aht_eps = pd.merge(aht_eps, aht_mr, left_on='EID', right_on='Employee_ID', how='left')
# ## add TN
# def TN(x):
#     if x['Session Date'] - x['PST_Start_Date'] >= pd.Timedelta(days=90):
#         return "TN"
#     else:
#         return "NH"
# aht_eps['Tenure'] = aht_eps.apply(TN, axis=1)
# ## rename shifttype
# aht_eps = aht_eps.rename(columns={'Shift_type_date': 'Shifttype'})

# ## export to json
# aht_eps.to_json(r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\aht_eps.json", orient='records')

In [30]:
# # 3. FACT_Ticket
# aht_cpi = cpi

# ## add LOB
# aht_cpi_schedule = schedule[['Emp ID', 'Date', 'LOB']]
# aht_cpi_schedule['Date'] = pd.to_datetime(aht_cpi_schedule['Date'], format = 'mixed')
# aht_cpi = pd.merge(aht_cpi, aht_cpi_schedule, left_on = ['Employee_ID', 'Date'], right_on=['Emp ID', 'Date'], how='left')
# aht_cpi = aht_cpi.drop(columns={'Emp ID'})

# ## add Ted + CUIC + PST Start date
# aht_eps_mr = masterroster[['Employee_ID', 'PST_Start_Date', 'CUIC Name', 'TED Name']]
# aht_cpi = pd.merge(aht_cpi, aht_eps_mr, on = 'Employee_ID', how='left')
# ## add Tenure
# aht_cpi = aht_cpi.rename(columns={'Date': 'Session Date'})
# aht_cpi['Tenure'] = aht_cpi.apply(TN, axis=1)
# aht_cpi = aht_cpi.rename(columns={'Session Date': 'Date'})
# ## export to json
# aht_cpi.to_csv(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Calculators\Joey Nguyen\py\aht_cpi.csv', index=False)
# aht_cpi.to_json(r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\aht_cpi.json", orient='records')

In [31]:
# # 4. FACT_Schedule
# aht_schedule = schedule[['Emp ID', 'Date', 'Shift', 'LOB', 'Shift_type']]

# ## add TED Name, CUIC
# aht_schedule_mr = masterroster[['Employee_ID','CUIC Name', 'TED Name']]
# aht_schedule = pd.merge(aht_schedule, aht_schedule_mr, left_on = 'Emp ID', right_on = 'Employee_ID', how='left')
# ## export to json
# aht_schedule.to_json(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\aht_schedule.json')

In [32]:
# # 5. DIM_Calendar
# aht_calendar = aht_eps[['Session Date']].drop_duplicates(subset='Session Date')
# aht_calendar.to_json(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\aht_calendar.json')

In [33]:
# # 6. DIM_User
# aht_mr = masterroster
# aht_mr.to_json(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\masterroster.json')

In [34]:
# # 7. DIM_LOB
# aht_lob = schedule[['LOB']].drop_duplicates(subset='LOB')
# aht_lob.to_json(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\dim_lob.json')

In [35]:
# # 8. DIM_Tenure
# aht_tenure = {'Tenure': ['NH', 'TN']}
# aht_tenure = pd.DataFrame.from_dict(aht_tenure)

# aht_tenure.to_json(r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\dim_tenure.json", orient='records')

In [36]:
# # 9. TL
# aht_tl = tl

In [37]:
# # 10. CUIC Query
# aht_cuic = cuic
# aht_cuic = pd.merge(aht_cuic, schedule[['Emp ID', 'Date', 'LOB']], left_on=['Employee_ID', 'Session Date'], right_on=['Emp ID', 'Date'], how='left')
# aht_cuic = aht_cuic.drop(columns={'Date_x', 'Date_y'})
# ## add PST_Start_Date
# aht_cuic_mr = masterroster[['Employee_ID', 'PST_Start_Date']]
# aht_cuic = pd.merge(aht_cuic, aht_cuic_mr, on = 'Employee_ID', how='left')
# aht_cuic['PST_Start_Date'] = pd.to_datetime(aht_cuic['PST_Start_Date'], format='mixed')
# aht_cuic['Session Date'] = pd.to_datetime(aht_cuic['Session Date'], format='mixed')
# aht_cuic.info()
# ## add tenure
# aht_cuic['Tenure'] = aht_cuic.apply(TN, axis=1)
# ## export to json
# aht_cuic.to_json(r'C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\DB\filejson\aht_cuic.json')