In [178]:
#libraries
import os
import pandas as pd
from datetime import datetime as dt
from datetime import time as t
import numpy as np
from IPython.display import display

In [179]:
# SOURCE

## PLEASE INPUT YOUR OWN CREDENTIAL BELOW
user_credential = r'/Users/dinhhoang.nguyen.CONCENTRIX/OneDrive - Concentrix Corporation/WFM-internal'

eps_path = os.path.join("C:", user_credential, r"Data\EPS Tableau\EPS Query")
cpi_path = os.path.join("C:", user_credential, r"Data\Ticket\CPI Query")
aht_path = os.path.join("C:", user_credential, r"Data\AHT\AHT query")
csat_path = os.path.join("C:", user_credential, r"Data\CSAT RAW\CSAT Query")
csatreso_path = os.path.join("C:", user_credential, r"Data\CSAT Reso\CSAT Reso Query")
cuic_path = os.path.join("C:", user_credential, r"Data\CUIC\CUIC Query")
exception_path = os.path.join("C:", user_credential, r"Data\Exception")
extension_path = os.path.join("C:", user_credential, r"Data\Extension")
iex_path = os.path.join("C:", user_credential, r"Data\IEX")
label_path = os.path.join("C:", user_credential, r"Data\Labels")
ioshrinkage_path = os.path.join("C:", user_credential, r"Data\IO Shrinkage")
ot_path = os.path.join("C:", user_credential, r"Data\OT\OT Query")
psat_path = os.path.join("C:", user_credential, r"Data\PSAT RAW\PSAT Query")
quality_path = os.path.join("C:", user_credential, r"Data\Quality.v2\Quality query")
ramco_path = os.path.join("C:", user_credential, r"Data\Ramco\Ramco Query")
ramcoot_path = os.path.join("C:", user_credential, r"Data\Ramco OT\Ramco OT Query")
requirement_path = os.path.join("C:", user_credential, r"Data\Requirement")
schedule_path = os.path.join("C:", user_credential, r"Data\Schedule 2\Schedule Query")
tl_path = os.path.join("C:", user_credential, r"Data\TL")
training_path = os.path.join("C:", user_credential, r"Data\Training")
masterroster_path = os.path.join("C:", user_credential, r"Data\User")
workplan_path = os.path.join("C:", user_credential, r"Data\Workplan")

In [180]:
#FUNCTION TO IMPORT FOLDERS
def import_csv(path):
    raw = []
    for file in os.listdir(path):
        if file.endswith(".csv"):
            file_path = os.path.join(path, file)
            file_data = pd.read_csv(file_path)
            file_data["filename"] = file
            raw.append(file_data)
            final_raw = pd.concat(raw, ignore_index=True)
    return final_raw
    
def import_xlsx(path, sheet_name):
    raw = []
    for file in os.listdir(path):
        if file.endswith(".xlsx"):
            file_path = os.path.join(path, file)
            file_data = pd.read_excel(file_path, engine="openpyxl", sheet_name = sheet_name)
            file_data["filename"] = file
            raw.append(file_data)
            final_raw = pd.concat(raw, ignore_index=True)
    return final_raw

In [181]:
# IMPORT MASTER ROSTER
masterroster = pd.read_excel(r"C:\Users\dinhhoang.nguyen.CONCENTRIX\OneDrive - Concentrix Corporation\WFM-internal\Data\User\CNX Global Master Roster.xlsx", sheet_name="Sheet1")
masterroster['Employee_ID'] = masterroster['Employee_ID'].astype("Int64")
# export master roster to json
masterroster['PST_Start_Date'] = pd.to_datetime(masterroster['PST_Start_Date'], format='mixed').dt.strftime('%Y-%m-%d')
masterroster.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\masterroster.json'), orient='records')

In [183]:
# IMPORT EPS
eps = import_csv(path = eps_path)
eps = eps.drop(columns=['Index', 'filename', 'Date'])
eps['Session login VN'] = pd.to_datetime(eps['Session Login'], format ='mixed') + pd.Timedelta(hours=5)
eps['Session logout VN'] = pd.to_datetime(eps['Session Logout'], format ='mixed') + pd.Timedelta(hours=5)
eps['Session login date'] = pd.to_datetime(eps['Session login VN']).dt.strftime('%Y-%m-%d')
eps['Session login time'] = pd.to_datetime(eps['Session login VN']).dt.time
eps['Session logout date'] = pd.to_datetime(eps['Session logout VN']).dt.strftime('%Y-%m-%d')
eps['Session logout time'] = pd.to_datetime(eps['Session logout VN']).dt.time
eps = eps.drop(columns=['Session login VN', 'Session logout VN', 'Username', 'manager_username', 'sitecode', 'Session Time'])
eps.to_csv(r"C:\Users\dinhhoang.nguyen\OneDrive - Concentrix Corporation\WFM-internal\DB\filecsv\eps_test.csv")

# export eps to json
eps.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\eps.json'), orient='records')

In [184]:
#IMPORT CPI
cpi = import_csv(path = cpi_path)
cpi = cpi.drop(columns=['Region Partner', 'Sitecode', 'Mp Csm Name', 'Mp Team Name'])
cpi['Date'] = cpi['filename'].replace(".csv", "", regex=True)
cpi['Date'] = pd.to_datetime(cpi['Date'], format = "mixed")

masterroster_cpi = masterroster[['Employee_ID', 'TED Name']]
cpi = pd.merge(cpi, masterroster_cpi, left_on="Staff Name", right_on="TED Name", how="left")
cpi = cpi.drop(columns=['filename', 'TED Name'])
cpi = cpi[['Staff Name', 'Employee_ID', 'Date', 'Channel', 'Number of Records']]

# export cpi to json
cpi.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\cpi.json'), orient='records')

In [185]:
#IMPORT AHT
aht = import_csv(path = aht_path)
aht = aht.drop(columns=['filename'])
masterroster_aht = masterroster[['Employee_ID', 'TED Name']]
aht = pd.merge(aht, masterroster_aht, left_on='Staff', right_on ='TED Name', how='left')
aht = aht.drop(columns=['TED Name'])
aht['Date'] = pd.to_datetime(aht['Date'], format='mixed')

# export aht to json
aht.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\aht.json'), orient='records')

C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_16788\2378756514.py:7: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  file_data = pd.read_csv(file_path)
C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_16788\2378756514.py:7: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  file_data = pd.read_csv(file_path)
C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_16788\2378756514.py:7: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  file_data = pd.read_csv(file_path)

In [186]:
#IMPORT CSAT
csat = import_csv(path = csat_path)
masterroster_csat = masterroster[['Employee_ID', 'TED Name']]
csat['Date '] = pd.to_datetime(csat['Date '], format='%m/%d/%Y')
csat = csat.rename(columns={'Date ': 'Date'})
csat = pd.merge(csat, masterroster_csat, left_on='Staff', right_on ='TED Name', how='left')
csat = csat.drop(columns=['Sort by Dimension', 'Has Comment', '"Comment"', 'Reservation Link', 'View comment', 'Sort by Dimension (copy)', 'filename', 'TED Name', 'Max. Sort by Dimension'])
csat['Date'] = csat['Date'].dt.strftime('%Y-%m-%d')
#export csat to json
csat.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\csat.json'), orient='records')

In [187]:
#IMPORT CSAT_reso
csat_reso = import_csv(path = csatreso_path)
masterroster_csat_reso = masterroster[['Employee_ID', 'TED Name']]
csat_reso['Date '] = pd.to_datetime(csat_reso['Date '], format='mixed')
csat_reso = csat_reso.rename(columns={'Date ': 'Date'})
csat_reso = pd.merge(csat_reso, masterroster_csat_reso, left_on='Staff', right_on ='TED Name', how='left')
csat_reso = csat_reso.drop(columns=['Sort by Dimension', 'Has Comment', '"Comment"', 'Reservation Link', 'View comment', 'Sort by Dimension (copy)', 'filename', 'TED Name', 'Max. Sort by Dimension'])
csat_reso['Date'] = csat_reso['Date'].dt.strftime('%Y-%m-%d')
#export csat_reso to json
csat_reso.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\csat_reso.json'), orient='records')

In [188]:
# IMPORT RAMCO
ramco = import_csv(path = ramco_path)
ramco['Attribute'] = pd.to_datetime(ramco['Attribute'],format='mixed').dt.date
ramco=ramco.rename(columns={'Attribute':'Date'})
ramco['EID']=ramco['EID'].astype('Int64')

# export ramco to json
ramco.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\ramco.json'), orient='records')

In [189]:
# IMPORT SCHEDULE
schedule = import_xlsx(path = schedule_path,sheet_name='Sheet1')
schedule['Attribute'] = pd.to_datetime(schedule['Attribute'],format='mixed').dt.date
schedule=schedule.iloc[:,0:8]
condition=(schedule['Value']=='OFF')|(schedule['Value']=='AL')|(schedule['Value']=='CO')|(schedule['Value']=='UPL')|(schedule['Value']=='VGH')
condition_training=(schedule['Value']=='Training')|(schedule['Value']=='PEGA')
schedule['Shift'] = np.where(condition, 'OFF', schedule['NS Check'])
schedule['Shift'] = np.where(condition_training, 'Training', schedule['Shift'])
schedule=schedule[['Emp ID','Name','Attribute','Value','LOB','Shift']]
schedule=schedule.rename(columns={'Attribute':'Date','Value':'Shift','Shift':'Shift_type'})
schedule['Emp ID'] = schedule['Emp ID'].astype("Int64")
 
week_shift=schedule[['Emp ID','Date','Shift']]
week_shift['Date'] = pd.to_datetime(week_shift['Date'],errors='coerce')
week_shift['Week'] = week_shift['Date'].dt.strftime('%Y%W')
week_shift=week_shift[['Emp ID','Week','Shift']]
week_shift = week_shift[week_shift['Shift'].str.contains('00$')]
week_shift=week_shift.groupby(['Emp ID','Week','Shift'],as_index=False).count()
week_shift=week_shift.groupby(['Emp ID','Week'],as_index=False).agg(min=('Shift','min'))
week_shift=week_shift.rename(columns={'min':'Week_shift'})
 
 
schedule['Date'] = pd.to_datetime(schedule['Date'],errors='coerce')
schedule['Week'] = schedule['Date'].dt.strftime('%Y%W')
schedule=pd.merge(schedule,week_shift,left_on=['Emp ID','Week'],right_on=['Emp ID','Week'],how='left')
schedule['Date']=pd.to_datetime(schedule['Date'],format='mixed').dt.strftime('%Y-%m-%d')
schedule=pd.merge(schedule,ramco,left_on=['Emp ID','Date'],right_on=['EID','Date'],how='left')
def actualshift_func(x):
    if x['Value']=='PH' or x['Value']=='PO' :
        return x['Week_shift']
    else:         
        return x['Shift']
schedule['Actual_shift'] = schedule.apply(actualshift_func, axis=1)
def actualshift1_func(x):
    if x['Actual_shift'] in ['0400-1300','0500-1400','0600-1500','0700-1600','0800-1700','0900-1800','1000-1900','1100-2000',
                      '1200-2100','1300-2200','1400-2300','1500-2400','1600-0100','1700-0200', '1800-0300','1900-0400']:     
        return 'DS'
    elif x['Actual_shift'] in ['2000-0500','2100-0600','2200-0700']:
        return 'NS'
    else:      
        return x['Shift_type']
schedule['Actual_shift_type'] = schedule.apply(actualshift1_func, axis=1)
schedule=schedule[['Emp ID','Name','Date','Actual_shift','LOB','Actual_shift_type']]
schedule=schedule.rename(columns={'Actual_shift':'Shift','Actual_shift_type':'Shift_type'})
# export schedule to json
schedule.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\schedule.json'), orient='records')

C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_16788\3985041532.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  week_shift['Date'] = pd.to_datetime(week_shift['Date'],errors='coerce')
C:\Users\dinhhoang.nguyen.CONCENTRIX\AppData\Local\Temp\VSCodePortable-x64Temp\ipykernel_16788\3985041532.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  week_shift['Week'] = week_shift['Date'].dt.strftime('%Y%W')

In [190]:
test_abc = schedule.loc[schedule['Shift_type']=='Training']

In [191]:
schedule[['Date', 'Shift_type']]

             Date Shift_type
0      2023-07-31         DS
1      2023-08-01        OFF
2      2023-08-02         DS
3      2023-08-03         DS
4      2023-08-04         DS
...           ...        ...
42672  2023-11-01   Training
42673  2023-11-02   Training
42674  2023-11-03   Training
42675  2023-11-04        OFF
42676  2023-11-05        OFF

[42677 rows x 2 columns]

In [192]:
#IMPORT CUIC
cuic = import_xlsx(path = cuic_path,sheet_name="Khoa Interval Attendance Check-")
cuic['Date'] = pd.to_datetime(cuic['Interval'], format = "mixed").dt.date
cuic['Time'] = pd.to_datetime(cuic['Interval'], format = "mixed").dt.time
cuic = pd.merge(cuic, masterroster, left_on='LoginName', right_on ='Booking Login ID', how='left')
cuic=cuic.iloc[:,0:9]

schedule['Date'] = pd.to_datetime(schedule['Date'], format='mixed').dt.date

cuic = pd.merge(cuic, schedule, left_on=['Employee_ID','Date'], right_on =['Emp ID','Date'], how='left')
cuic=cuic[['FullName','LoginName','Interval','AgentAvailTime','AgentLoggedOnTime','Date','Time','Employee_ID','Shift_type','Shift']]
cuic['Date-1']=pd.to_datetime(cuic['Date'], format ='mixed') - pd.Timedelta(1,"d")
cuic['Date-1']=pd.to_datetime(cuic['Date-1'], format ='mixed').dt.date
cuic = pd.merge(cuic, schedule, left_on=['Employee_ID','Date-1'], right_on =['Emp ID','Date'], how='left')
cuic=cuic[['FullName','LoginName','Interval','AgentAvailTime','AgentLoggedOnTime','Date_x','Time','Employee_ID','Shift_type_x','Shift_x','Date-1','Shift_type_y','Shift_y']]
mytime=t(12,0,0)
condition=(cuic['Shift_type_x']!='DS')&(cuic['Shift_type_y']=='NS')&(cuic['Time']<mytime)
cuic['Session Date'] = np.where(condition, cuic['Date-1'], cuic['Date_x'])
cuic=cuic[['FullName','LoginName','Interval','AgentAvailTime','AgentLoggedOnTime','Date_x','Employee_ID','Shift_type_x','Session Date']]
cuic=cuic.rename(columns={'Date_x':'Date','Shift_type_x':'Shift_type'})
cuic['Session Date'] = pd.to_datetime(cuic['Session Date'], format='mixed').dt.strftime('%Y-%m-%d')
# export cuic to json
cuic.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\cuic.json'), orient='records')

In [193]:
cuic.loc[cuic['Shift_type'].isna()]

,FullName,LoginName,Interval,AgentAvailTime,AgentLoggedOnTime,Date,Employee_ID,Shift_type,Session Date
558,"Luu, John",jluu,8/1/23 10:00:00 AM,0.0,0.003113,2023-08-01,101993777,NaN,2023-08-01
953,"Nguyen, Truyen",tnguyen38,8/1/23 8:30:00 AM,0.0,0.005394,2023-08-01,102216751,NaN,2023-08-01
954,"Nguyen, Truyen",tnguyen38,8/1/23 9:00:00 AM,0.0,0.007535,2023-08-01,102216751,NaN,2023-08-01
955,"Nguyen, Truyen",tnguyen38,8/1/23 9:30:00 AM,0.0,0.001782,2023-08-01,102216751,NaN,2023-08-01
1081,"Pham, Krist",kpham6,8/1/23 7:00:00 AM,0.0,0.011204,2023-08-01,102261567,NaN,2023-08-01
...,...,...,...,...,...,...,...,...,...
532189,"Pham, Joey",jpham13,10/31/23 1:00:00 PM,0.0,0.011574,2023-10-31,102198985,NaN,2023-10-31
532190,"Pham, Joey",jpham13,10/31/23 1:30:00 PM,0.0,0.004468,2023-10-31,102198985,NaN,2023-10-31
532191,"Pham, Joey",jpham13,10/31/23 2:00:00 PM,0.0,0.002708,2023-10-31,102198985,NaN,2023-10-31
532805,"Tran, Yin",ytran2,10/31/23 9:00:00 AM,0.0,0.002454,2023-10-31,102003097,NaN,2023-10-31
532972,"Vu, Billy",bvu,10/31/23 7:30:00 AM,0.0,0.000255,2023-10-31,102234790,NaN,2023-10-31

In [194]:
#EXCEPTION
exceptional_hrs = import_xlsx(path= exception_path, sheet_name="Sheet1")
exceptional_hrs = exceptional_hrs.rename(columns={'Date \n(MM/DD/YYYY)':'Date'})
exceptional_hrs = exceptional_hrs.drop(columns=['filename'])

#export exceptional hours to json
exceptional_hrs.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\exceptional_hrs.json'), orient='records')

In [195]:
#IMPORT IEX ID
iex = import_xlsx(path = iex_path, sheet_name="Sheet1")
iex = iex[['ID Agent', 'Personal ID']]
iex = iex.rename(columns={'Personal ID': 'EID'})

#export iex to json
iex.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\iex.json'), orient='records')

In [196]:
# IMPORT TL
tl = pd.read_excel(os.path.join(tl_path, "TL List.xlsx"),sheet_name='Sheet1')
tl=tl.iloc[:,0:6]
tl=tl.rename(columns={'Supervisor (no need fill)': 'Supervisor'})
tl=tl.drop(columns=['Wave', 'Name', 'LOB', 'Full name (VN)'])

# export tl to json
tl.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\tl.json'), orient='records')

In [197]:
# IMPORT TRAINING
training = import_xlsx(path = training_path,sheet_name='Sheet1')
training['Date'] = pd.to_datetime(training['Date'],format='mixed').dt.date
training['EID'] = training['EID'].astype("int64")
training=training.iloc[:,1:]

#export training to json
training.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\training.json'), orient='records')

In [198]:
# IMPORT IOSHRINKAGE
ioshrinkage = import_xlsx(path = ioshrinkage_path, sheet_name='Sheet1')

#export ioshrinkage to json
ioshrinkage.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\ioshrinkage.json'), orient='records')

In [199]:
# IMPORT OT
ot = import_xlsx(path = ot_path, sheet_name='Sheet2')
ot = ot.drop(columns=['Wave', 'Name', 'Value', 'LOB', 'filename'])
ot['Date'] = pd.to_datetime(ot['Date'], format="mixed")
ot['Date'] = ot['Date'].dt.date

#export ot to json
ot.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\ot.json'), orient='records')

In [200]:
# IMPORT PSAT
psat = import_csv(path = psat_path)
psat['Date'] = pd.to_datetime(psat['Date'],format='mixed').dt.date

#export psat to json
psat.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\psat.json'), orient='records')

In [201]:
# IMPORT QUALITY
quality_raw = import_xlsx(path = quality_path,sheet_name='Sheet1')
quality_raw['eval_date'] = pd.to_datetime(quality_raw['eval_date'],format='mixed').dt.date
quality=quality_raw.iloc[:,0:20]
quality['eval_date'] = pd.to_datetime(quality['eval_date'], format='mixed').dt.strftime('%Y-%m-%d')
#export quality to json
quality.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\quality.json'), orient='records')

In [202]:
# IMPORT RAMCOOT
ramcoot = import_xlsx(path = ramcoot_path,sheet_name='Sheet1')
ramcoot['Attribute'] = pd.to_datetime(ramcoot['Attribute'],format='mixed').dt.date
ramcoot=ramcoot.rename(columns={'Attribute':'Date'})

#export ramcoot to json
ramcoot.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\ramcoot.json'), orient='records')

In [203]:
# IMPORT REQUIREMENT
requirement = import_xlsx(path = requirement_path,sheet_name='Sheet1')
requirement['Date'] = pd.to_datetime(requirement['Date'],format='mixed').dt.date

#export requirement to json
requirement.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\requirement.json'), orient='records')

In [204]:
# IMPORT WORKPLAN
workplan_raw = import_xlsx(path = workplan_path,sheet_name='Sheet1')
workplan_raw['Date'] = pd.to_datetime(workplan_raw['Date'],format='mixed').dt.date
workplan_merge_iex = pd.merge(workplan_raw,iex, left_on='Agent ID', right_on ='ID Agent', how='left')
workplan_merge_iex['EID'] = workplan_merge_iex['EID'].astype("Int64")
workplan_merge_iex=workplan_merge_iex.drop(columns=['filename', 'ID Agent'])

#export workplan_merge_iex to json
workplan_merge_iex.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\workplan_merge_iex.json'), orient='records')

In [205]:
#IMPORT LABELS
labels = import_csv(label_path)

#export labels to json
labels.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\labels.json'), orient='records')

In [206]:
kpi_target = pd.read_excel(os.path.join(r'C:', user_credential, r'Data\KPI Target\kpi_target.xlsx'), engine="openpyxl", sheet_name = 'Sheet1')

kpi_target.to_json(os.path.join(r'C:', user_credential, r'DB\filejson\kpi_target.json'), orient='records')